table {
            border: 1px solid black;
            border-collapse: collapse;
            spacing: 1px;
        }

        td {
            border: 1px solid black;
            padding: 1px;
			
        }

        .middle {
            margin: auto;
        }

        /* Classes for alignment */
        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }

        /* Background colors */
        .green {
            background-color: green;
        }

        .blue {
            background-color: blue;
        }